.co-mainPage {
  border-right: 8px solid #ebebeb;
  overflow: auto;
}

.elements-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.element {
  border: 1px solid black;
  border-radius: 10px;
  background-color: paleturquoise;
}

.selected-element {
  border: 2px solid yellow !important;
}
