.selection-page {
  overflow: auto;
  background-color: #efefef;
  flex: 1;
  height: calc(100vh - 60px);
}

.selection-container {
  background-color: #efefef;
  width: auto;
  height: 100%;
}

.selection-topHalf {
  height: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.selection-bottomHalf {
  height: 50%;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.selection-inputs {
  height: 100%;
  flex: 2;
}

.selection-inputs2 {
  height: 100%;
  flex: 1;
}
