
.co-input-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.co-input-selection label{
  font-size: large;
}

input {
  width: 100px;
}

.type-selection-container {
  width: 100%;
  display: flex;
}

.type-selection {
  flex-grow: 1;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
  height: 48px;
  line-height: 48px;
  font-size: large;
  font-weight: 400;
  color: black;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2)
}

.type-selected {
  background-color: #efefef;
  font-weight: 600;
}

.layout-selection-container {
  width: 100%;
  display: flex;
}

.layout-selection {
  width: 33.1%;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
  height: 36px;
  line-height: 36px;
  font-size: medium;
  font-weight: 400;
  color: black;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2)
}

.layout-selected {
  background-color: #efefef;
  font-weight: 600;
}

.style-selection-header {
  font-size: large;
  text-align: center;
  margin-bottom: 12px;
}

.styles-section-header {
  font-size: x-large;
  margin: 12px;
  text-align: center;
}

.selection-button {
  margin: 20px;
  font-size: medium;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  border-radius: 20px;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

