.co-mainPage {
  max-width: 400px;
  border-right: 8px solid #ebebeb;
  overflow: hidden;
  width: 100%;
  flex: 1;
  height: calc(100vh - 60px);
  background-color: #ebebfe;
}

.elements-container {
  z-index: 0;
}

.display-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  zoom: 2;
}



