.co-dashboard {
  display: flex;
  flex-flow: row;
  min-height: 100vh
}

.co-header {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .14);
}

.co-navbar {
  z-index: 1000;
  flex: 1;
  max-width: 360px;
  min-width: 360px;
  border-right: 3px solid #ebebeb;
  background-color:  #f7f7f7;
}

.co-mainPage {
  flex-grow: 1;
  overflow: scroll;
}

.header-title {
  margin-left: 24px;
  font-weight: 600;
  font-size: large;
  border: 2px solid orange;
  border-radius: 10px;
  padding: 4px 12px;
}

.selection-container {
  margin: 12px 12px;
  padding: 12px;
  border-radius: 2px;
  background-color: white;
}

.co-input-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.co-input-selection label{
  font-size: large;
}

input {
  width: 100px;
}

.elements-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.element {
  border: 1px solid black;
  border-radius: 10px;
  background-color: paleturquoise;
}

.layout-selection-container {
  display: flex;
  justify-content: center;
}

.layout-selection {
  width: 33.1%;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
  height: 36px;
  line-height: 36px;
  font-size: medium;
  font-weight: 400;
  color: black;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2)
}

.layout-selected {
  background-color: #efefef;
  font-weight: 600;
}

.style-selection-container {
  margin-top: 12px;
}

.style-selection-header {
  font-size: large;
  text-align: center;
  margin-bottom: 12px;
}

.style-option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.selected-element {
  border: 2px solid yellow !important;
}

.styles-section-header {
  font-size: x-large;
  margin: 12px;
  text-align: center;
}

.add-element-container {

}

.selection-button {
  margin: 20px;
  font-size: medium;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  border-radius: 20px;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

